.link_name {
    width: 150px;
}

.container {
    border: 3px solid black;
    border-radius: 55px;
    background-color: rgb(24,20,28)
}
.right-side{
    color: white;
    padding: 117px;
}
.right-side h2{
    text-align: center;
}
.right-side h1{
    text-align: center;
}
.left-side {
    height: 330px;
    color: white;
    
}
.middle{
    color: white;
}
.middle h3 {
    margin: 38px;
    text-align: center;
    color: white;
    
}

.middle p {
    text-align: center;
    margin-left: 38px;
    margin-right: 38px;
    color: white;
}

.middle .buttons {
    justify-content: space-around;
    display: flex;
    margin-left: 40px;
    margin-left: 39px;
    width: 82%;
    margin-top: 130px;
}
.buttons button{
    width: 80px;
height: 42px;
border-radius: 25px;
}