.link_name {
    width: 150px;
}

.container {
    border: 3px solid black;
    border-radius: 55px;
    background-color: rgb(24,20,28)
}
.right-side{
    color: white;
    padding: 117px;
}
.right-side h2{
    text-align: center;
}
.right-side h1{
    text-align: center;
}
.left-side {
    height: 330px;
    color: white;

}
.middle{
    color: white;
}
.middle h3 {
    margin: 38px;
    text-align: center;
    color: white;

}

.middle p {
    text-align: center;
    margin-left: 38px;
    margin-right: 38px;
    color: white;
}
.buttons {
    width: 150px;
    height: 150px;
    margin-left: 350px;
    margin-top: 30px;
}
.buttons button{
    border-radius: 25px;
    width: 200px;
    height: 100px;
}

button:hover{
    background-color: #009949;
}
.flex-container {
    margin-top: 15px;
    margin-left: 200px;
    margin-bottom: 30px;
    display: flex;
    margin-right: 150px;
    border: solid red 2px;
    border-radius: 10px;
    height: 282px;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
